include README.md
include LICENSE
include requirements.txt
recursive-include assets *.properties *.jinja2 *.example
recursive-include config *.py
recursive-include core *.py
recursive-include ui *.py
global-exclude __pycache__
global-exclude *.py[co]
