include README.md
include LICENSE
include requirements.txt
recursive-include spring_cli/assets *.properties *.jinja2 *.example
recursive-include spring_cli/config *.py
recursive-include spring_cli/core *.py
recursive-include spring_cli/ui *.py
global-exclude __pycache__
global-exclude *.py[co]
