version: '3.8'

services:
  app:
    build: .
    container_name: demo    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
          depends_on:
      - db
    networks:
      - app-network

  
volumes:
  
networks:
  app-network:
    driver: bridge
