package {{ package_name }}.service;

import org.springframework.stereotype.Service;

@Service
public class {{ entity_name }}Service {

    public String processarDados() {
        return "Lógica de negócio processada no Service!";
    }
}