package {{ package_name }}.adapters.out.persistence;

import {{ package_name }}.ports.out.{{ entity_name }}Repository;
import org.springframework.stereotype.Component;

@Component
public class {{ entity_name }}RepositoryAdapter implements {{ entity_name }}Repository {

    @Override
    public String findData() {
        return "Data from database via adapter";
    }
}
