package {{ package_name }};

import {{ base_package }}.ports.in.{{ entity_name }}UseCase;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

@RestController
@RequestMapping("/api/{{ entity_name | lower }}")
public class {{ entity_name }}Controller {

    private final {{ entity_name }}UseCase useCase;

    public {{ entity_name }}Controller({{ entity_name }}UseCase useCase) {
        this.useCase = useCase;
    }

    @GetMapping
    public String get() {
        return useCase.execute();
    }
}
