package {{ package_name }};

import {{ base_package }}.domain.repository.{{ entity_name }}Repository;
import org.springframework.stereotype.Repository;

@Repository
public class {{ entity_name }}RepositoryImpl implements {{ entity_name }}Repository {

    @Override
    public String findData() {
        return "Data from database";
    }
}
