package {{ package_name }}.infrastructure.db;

import org.springframework.stereotype.Repository;

@Repository
public class {{ entity_name }}RepositoryImpl {

    public String findData() {
        return "Data from database";
    }
}
