package {{ package_name }}.repository;

import org.springframework.stereotype.Repository;

@Repository
public class {{ entity_name }}Repository {

    public String buscarDados() {
        return "Dados recuperados do banco (Simulação)";
    }
}