package {{ package_name }}.application.usecase;

import org.springframework.stereotype.Component;

@Component
public class {{ entity_name }}UseCase {

    public String execute() {
        return "Use case executed successfully!";
    }
}
